@charset "UTF-8";
.header{
    font-size: 40px;
}
.test1{
    font-size: 50px;
}
.test2{
    color: #ff0000;
    font-size: 40px;
}
.test3{
    color: #003cff;
    font-size: 30px;
}
.test4{
    text-align: center;
}
.test5{
    text-align: right;
}
.test6{
    font-size: 60px;
    display: inline-block;
    border-bottom: solid;
    border-bottom-color: red;
}
.test7{
    font-size: 50px;
    font-weight: bold;
}
.yoko{
    display: flex;
}
.test8{
    font-size: 30px;
    color: #ff0000;
}
.test9{
    font-size: 30px;
    color: #006105;
}
.test10{
    text-align: center;
    font-size: 80px;
    border: 6px double #ff0000; 
}
